@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Settings";
}
<h2>Settings</h2>
<p>There will be list of feeds, update rate and proxy settings</p>