@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте</h1>
    <p>Чтобы посмотреть сообщения из фида, нажмите на All items вверху.<br />
        Чтобы обновить фид, нажмите на Update. Это также запустит таймер.
    </p>
    <br />
    <p>К сожалению, с ASP.NET я ещё не очень знаком, поэтому от стандартных шаблонов старался не отходить. <br />
        Также логика работы с фидом реализована в контроллере, что, как я слышал, не очень хорошо, но из-за моих сложностей с пониманием работы контекстов другого способа заставить работать код не нашлось.<br />
        Из опциональных пунктов сделал только настройки в XML и реализацию на ASP.NET; всё что касается настроек и нескольких лент не получилось сделать так как у меня не получилось сделать чтение произвольного количества ссылок.<br />
        Поддержка прокси есть, сделана по всем инструкциям, однако не тестировалась.
        </p>
</div>
